@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Oswald:wght@200;300;400;500;600;700&family=Square+Peg&family=Staatliches&family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.fondo {
    background-image: url(../imagenes/fondo.jpg);
    width: 100%;
}

.logocabecera {
    width: 100px; 
    height: 100px; 
    padding-top: 100.0000%;
    padding-bottom: 48px; 
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
    margin-top: 1.6em; 
    margin-bottom: 0.9em; 
    overflow: hidden;
    border-radius: 8px; 
    will-change: transform;
}
.imagenlogo {
    width: 100%; 
    height: 400px; 
}


.menu {
    background-color: rgb(249, 214, 252);
    list-style-type: none;
    padding-block: 15px;
    font-size: 23px;
    text-align: left;
    display: flex;
    align-items: center;

}

.menu__item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-inline: 18px;
    font-size: 25px;
}

.menu__item a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.menu__item.active a {
    text-decoration: underline double;
}

.menu__item a:hover {
    text-decoration: underline double;
}

.main {
    padding: 20px;
}

/* CARTITAS */

.cartita {
    background-color: rgb(219, 203, 217);
    padding: 10px;
    border-radius: 10px;
    margin-inline: 1.5%;
    margin-block: 30px;
}

.cartitasprimeras {
    display: flex;
}

.cartitassegundas {
    display: flex;
}

.cartita__rectangulo {
    width: 45%;
    background-color: rgb(206, 185, 203);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-inline: 2.3%;
}

.cartita__imagen {
    width: 100%;
    height: 350px;
}

.cartita__imagenrect {
    width: 100%;
    height: 220px;
}

.cartita__titulo {
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

.cartita__titulo div a {
    text-shadow: 2px;
}

.cartita__boton {
    background-color: rgb(158, 139, 156);
    padding: 10px;
    margin-left: 33%;
    border-radius: 50px;
}

.cartita__boton a {
    color: rgb(255, 247, 247);
    text-decoration: none;
    border-radius: 20px;
}

.cartita__titulolargo {
    font-size: 40px;
}

.cartita__imagen,
.cartita__boton {
    margin-bottom: 10px;
}

/* FORMULARIO */

.formulario {
    border-radius: 3px;
    display: flex;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    width: 100%;
    height: 600px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.enviar {
    color: white;
    background-color: #80418d;
    display: inline;
    border: none;
}

.enviarboton:hover {
    background-color: #000000;
}

.campo1 {
    width: 189px;
    height: 122px;
}

/* QUIENES SOMOS*/
.cajaconocenos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
}

.quienessomos {
    background-color: azure;
    height: 100%;
    width: 300px;
    padding: 20px;
    margin: 15px;
    font-size: large;
}

/* TRATAMIENTOS FACIALES Y CORPORALES*/
.facialestitulo {
    padding: 20px;
    margin: 20px;
    font-size: larger;
    color: black;
    text-align: center;
}

.cajafacial {
    display: flex;
}

.cajita__facial {
    background-color: rgb(219, 203, 217);
    padding: 20px;
    border-radius: 10px;
    margin-inline: 1.5%;
    margin-block: 30px;
}

.cajita__imagen {
    width: 100%;
    height: 350px;
}

.cajita__boton {
    background-color: rgb(158, 139, 156);
    padding: 10px;
    border-radius: 50px;
}

.cajita__titulo {
    font-size: 20px;
    text-decoration: none;
}

/* DEPILACION DEFINITIVA*/
.cajadepilacion__principal {
    padding: 20px;
    margin: 20px;
    font-size: larger;
    color: black;
    text-align: center;
}
.titulo__depilacion {
    padding: 20px;
    margin: 20px;
    font-size: larger;
    color: black;
    text-align: center;
}
.cajadepilacion {
    display: flex;   
    align-items: center;
    justify-content: center; 
    
}

.cajita__depilacion {
    background-color: rgb(219, 203, 217);
    padding: 20px;
    border-radius: 10px;
    margin-inline: 1.5%;
    margin-block: 30px;
    
}

.depilacion__imagen {
    width: 100%;
    height: 350px;
}

/* PRODUCTOS */
.cartitasproductos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.cartita__producto {
    background-color: rgb(219, 203, 217);
    padding: 20px;
    border-radius: 10px;
    margin-inline: 1.5%;
    margin-block: 30px;
    
}
.producto__imagen {
    width: 100%;
    height: 450px;
}
.producto__boton {
    background-color: rgb(158, 139, 156);
    padding: 10px;
    border-radius: 50px;
}
.producto__boton a {
    color: rgb(255, 247, 247);
    text-decoration: none;
    border-radius: 20px;
}
.productostitulo {
    padding: 20px;
    margin: 20px;
    font-size: larger;
    color: black;
    text-align: center;
}    
.producto__titulo {
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

.producto__imagen, 
.producto__boton { 
    margin-bottom: 10px;
}