

.col-md-4 {
    
 
   
       
    .card1 {
        background-color: $indexColor;
        color: $blackcolor;

        .card-img {
            
            height: 100px;
        }

        .card-title {
            height: 50px;
            font-family: $fontJosefin;
            background-color: $carrusel-color;
            color: $indexColor;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card p {
            font-family: $fontJosefin;
        
        }

        .card a {
            background-color: $carrusel-color;
            color: $indexColor;
            border-color: $blackcolor;
            font-family: $fontJosefin;
            height: 45px;

                 
        
        }
        
 }
    
    }
