
.pie {
    display: flex;
    justify-content: center;
    background-color: $mainColor;
    color: white;
    padding-block: 20px;
    
    .iconos {
        display: flex;
        align-items: center;
        gap: 1rem;

        .fab {
            padding: 1rem;
        }
    }
}


$redes: (
    facebook: rgb(79, 79, 243),
    instagram: rgb(150, 84, 95),
    whatsapp: rgb(23, 182, 23),
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
        background-color: $colordered;
    }    
}

.fa-facebook {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    

}

