* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    &::selection {
        background-color: $selectioncolor;
    }
    
    a {
        text-decoration: none;
        color: $blackcolor;
    }
}



