

.menu__index {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "logo   logo    faciales    corporales"
        "logo   logo    faciales    corporales"
        "logo   logo    definitiva  nosotros"
        "logo   logo    definitiva  contacto"

}



.menu__index h3 {

    font-size: 60px;
    font-family: 'Square Peg', cursive;

    text-align: center;
    border-radius: 50px;


}

.navbar {
    background-color: rgb(238, 218, 233);
    height: 15vh;
}












































/********* NOSOTROS *******/
.carousel-control-next-icon {
    color: black
}

.container-fluid img {
    height: 250px;
}

.text-center {
    margin: 40px;

}

.accordion {
    --bs-accordion-color: #000;
    --bs-accordion-bg: hsla(290, 26%, 91%, 0.651);
    --bs-accordion-border-color: #000(--bs-border-color);
    --bs-accordion-btn-color: #fefbffa6(255, 253, 253)(--bs-body-color);

    --bs-accordion-btn-focus-border-color: rgb(0, 0, 0);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #b29bb6a6(13, 110, 253, 0.25);
    --bs-accordion-active-color: #fefbffa6;
    --bs-accordion-active-bg: #9b8b9ea6;
}

/***** TRATAMIENTOS FACIALES ******/


.card-img-top {
    width: 75%;

}

.card {
    background-color: rgba(228, 195, 195, 0.445);
    color: black;
    border-color: rgb(0, 0, 0);
    border: 0.5px rgb(163, 144, 160) solid;

}



.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #b29bb6a6;
    --bs-btn-border-color: #b29bb6a6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b29bb6a6;
    --bs-btn-hover-border-color: #b29bb6a6;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b29bb6a6;
    --bs-btn-active-border-color: #b29bb6a6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b29bb6a6;
    --bs-btn-disabled-border-color: #b29bb6a6;
}


.card a {
    background-color: rgba(228, 195, 195, 0.445);
    color: black;
    border-color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;


}

.card h3 {
    background-color: rgb(228, 195, 195);
    color: black;
    height: 50px;
    font-family: 'Square Peg', cursive;

}

.col-md-4 img {

    background-color: rgb(163, 144, 160);
}

.card p {
    font-family: 'Josefin Sans', sans-serif;

}

.card1 {
    background-color: rgba(228, 195, 195, 0.445);
    color: black;
    border-color: rgb(0, 0, 0);
    border: 0.5px rgb(163, 144, 160) solid;

}



/*****DEPILACION****/
.card3 {
    background-color: rgba(228, 195, 195, 0.445);
    color: black;
    border-color: rgb(0, 0, 0);
    border: 0.5px rgb(163, 144, 160) solid;


}


/*******    MEDIAS   ********/

@media screen and (max-width: 768px) {
    .menu__index {

        display: flex;
        flex-direction: column;

    }

    .navbar {
        background-color: rgb(238, 218, 233);
        height: 25vh;
    }


    .navbar__logo {
        height: 200px;
    }

    .navbar__logo2:hover {

        background-image: none;

    }
    .navbar-collapse {
        z-index: 1000;
        background-color: rgba(211, 195, 211, 0.671);
        
        }
        .element.style {
            background-color: rgba(211, 195, 211, 0.671);
        }
        
 


    .accordion {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        flex-direction: column;
    }

    .navbar_hijo2 img {
        height: 400px;
    }

    .img__logo {
        filter: none;
    
    }
}



@media screen and (max-width: 480px) {
    .menu__index {

        display: flex;
        flex-direction: column;


    }
    .navbar-collapse {
        z-index: 1000;
        background-color: rgba(211, 195, 211, 0.671);
        }
        
    .navbar__logo2:hover {

        background-image: none;

    }

    .navbar {
        height: 200px;
    }
}